@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;500;700&display=swap');


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --dark-blue: hsl(240, 38%, 20%);
    --greyish-blue: hsl(240, 18%, 77%);
}



body {
    font-family: 'Inter',
        sans-serif;
    Font-size: 10px;
    height: auto;
}

p {
    color: var(--dark-blue);
    font-size: 3.2em;
}

.container {
    padding: 10em 12em 5em 12em;
}

.testimonial {
    margin-bottom: 3em;
}

.slider-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    width: 100%;
}

.content {
    position: relative;
    z-index: 20;
}

.content .pattern-quotes {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(90%, -50%);
}

.p-one {
    font-weight: 300;
    margin-bottom: 1em;
}

.p-two {
    font-size: 2.2em;
}

.images {
    position: relative;
}

.image {
    position: relative;
    right: 7em;
}

.img-1 {
    height: 420px;
    width: 450px;
}

.img-bg {
    position: absolute;
    z-index: -1;
    top: 0;
    right: -1em;
    transform: translateY(-10%);
    height: 510px;
    width: 600px;
}

span {
    color: var(--greyish-blue);
}

.br {
    display: none;
}

.nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 2px 2px 2px #eeb;
    color: var(--dark-blue);
    padding: 1em;
    position: absolute;
    top: 80%;
    left: 58%;
    border-radius: 2rem;
    border: none;
    z-index: 30;
    cursor: pointer;
    padding: 1rem;
}

.slider-prev {
    padding-right: 1.5em;
}

.slider-next {
    padding-left: 1.5em;
}

.attribution {
    font-size: 11px;
    text-align: center;
    width: 100%;
    margin: auto;
    padding-bottom: 1em;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}


@media screen and (max-width: 1200px) {
    .container {
        padding: 7em 6em 0.5em 4em;
    }

    .nav {
        top: 88%;
        left: 50%;
        padding: 1em;
    }

    .slider-prev {
        padding-right: 1.8em;
    }

    .slider-next {
        padding-left: 1.8em;
    }
}

@media screen and (max-width: 800px) {
    .container {
        padding: 7em 4em 0.5em 4em;
    }

    .slider-container {
        display: flex;
        flex-direction: column;
    }

    .content {
        order: 2;
        margin-top: 10em;
    }

    .images {
        position: relative;
        left: 3em;
    }

    .image {
        width: 100%;
        margin: auto;
    }

    .content .pattern-quotes {
        left: 0;
        transform: translate(200%, -30%);
    }

    p {
        text-align: center;
        font-size: 3.0em;
    }

    .br {
        display: block;
    }

    .nav {
        left: 38%;
    }
}

@media screen and (max-width: 600px) {
    .container {
        margin: auto;
        padding: 10em 1em 5em;
    }

    .nav {
        top: 95%;
        left: 40%;
    }
}

@media screen and (max-width: 450px) {
    .container {
        padding: 5em 1em 2em;
    }

    p {
        font-size: 2.0em;
    }

    .content {
        margin-top: 10em;
    }

    .content .pattern-quotes {
        left: 0;
        transform: translate(80%, -30%);
    }

    .slider-container {
        width: 300px;
    }

    .image {
        position: relative;
        right: 4em;
    }

    .images .img-1 {
        height: 290px;
        width: 280px;
    }

    .images .img-bg {
        height: 350px;
        width: 320px;
        right: 0.5em;
    }

    .nav {
        top: 60%;

    }

}